In [2]:
10 < 100

True

In [3]:
100 != 100

False

In [4]:
50 >= 50

True

In [5]:
"a" < "b"

True

In [6]:
"b" < "a"

False

In [7]:
"John" < "Terry"

True

In [8]:
"john" < "Terry"

False

In [9]:
5 < 10.2

True

In [10]:
5 < "Monty"

TypeError: '<' not supported between instances of 'int' and 'str'

In [11]:
5 < "5"

TypeError: '<' not supported between instances of 'int' and 'str'

In [12]:
age = 30

age >=18 and age <=65
age <18 or age >65
not age > 18

False

In [13]:
age = 30

(age >=18 and age <=65) and (not age==30)

False

In [14]:
weight = 69
height = 169
100 < weight and weight < 200

height > 131 and height < 160

False

In [15]:
names = ["Sam", "Pam", "Bam", "Ram", "Ham", "Fam"]
"Fam" in names

True

In [16]:
"Mark" not in names

True

In [17]:
message = "Hello there, my name is Sam"
"Hell" in message

True

Try writing an if statement that checks if someone is between the ages of 18 and 30 inclusive. If they are, then print a message saying "you are still young!"

In [18]:
age = int(input("Enter your age: "))
if 18 <= age <= 30:
    print("You are still young!")

Enter your age: 19
You are still young!

Try writing an if statement similar to the last example that includes an extra elif clause to check ages between 30-40. Print a suitable message in the associated code block.

In [19]:
age = int(input("Enter your age: "))
if age > 100:
    print("you are very old,")
    print("well done!")
elif age > 80:
    print("you are fairly old")
    print("pretty good!")
elif age > 40:
    print("you are middle aged")
    print("never mind")
elif 30 <= age <= 40:
    print("You are between 30 and 40")
else:
    print("you are not very old - yet")

Enter your age: 33
You are between 30 and 40

Rewrite the above code that inputs a name then prints a message, but change the condition so it explicitly uses a Boolean expression. Use the example below to help.

In [20]:
name = input("Enter your name: ")
if bool(name):
    print(f"Hello, {name}! Your name is not empty.")
else:
    print("You didn't enter a name.")

Enter your name: Sam
Hello, Sam! Your name is not empty.

Rewrite the code shown below as a single line Ternary expression.

In [21]:
print("you are an adult") if age >= 18 else print("you are not an adult, yet!")

you are an adult

Input and execute a for loop that iterates over a list of four names, printing each of them to the screen.

In [22]:
names = ["Sam", "Pam", "Bam", "Ram"]
for name in names:
    print(name)

Sam
Pam
Bam
Ram

Input and execute a for loop that uses a range() function to generate the following output:

2 to the power of 2 = 4
4 to the power of 4 = 256
6 to the power of 6 = 46656
8 to the power of 8 = 16777216
10 to the power of 10 = 10000000000

In [24]:
for exponent in range(2, 11, 2):
    result = exponent ** exponent
    print(f"{exponent} to the power of {exponent} = {result}")

2 to the power of 2 = 4
4 to the power of 4 = 256
6 to the power of 6 = 46656
8 to the power of 8 = 16777216
10 to the power of 10 = 10000000000

Input code containing a for loop that iterates over a list of numbers, printing a running total during each iteration. You may wish to first define the numbers list as follows:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]

In [25]:
numbers = [10, 20, 30, 90, 200, 30, 22, 11]
running_total = 0
for number in numbers:
    running_total += number
    print(f"Running total: {running_total}")

Running total: 10
Running total: 30
Running total: 60
Running total: 150
Running total: 350
Running total: 380
Running total: 402
Running total: 413