In [1]:
total = 100

print("The total is", total)

The total is 100

In [2]:
total = total + 99
print("The total is now", total)

The total is now 199

In [3]:
total = total - 1
print("The total is", total)

total = total * 4
print("The total is", total)

total = total / 2
print("The total is", total)

The total is 198
The total is 792
The total is 396.0

Try extending the code below so that it creates a new variable called ‘average’, that is set to equal the average calculated from the two other variables.

In [5]:
total = 98.2
count = 5
average = total / count
print("The average is", average)

The average is 19.64

Use the type() function to determine the type of each of the following values.
False
1000
100.111
"Hello"
True
100 / 5
100 // 5

In [6]:
print (type(False))
print (type(1000))
print (type(100.111))
print (type("Hello"))
print (type(True))
print (type(100 / 5))
print (type(100 // 5))

<class 'bool'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'int'>

Input the following code and examine the result. What is the * operator doing to the given string operand?

In [7]:
"ABC" * 10

'ABCABCABCABCABCABCABCABCABCABC'

Write some code that calls the print() function several times, displaying your name, address and contact details. Add additional calls to the print() function which includes an argument that calculates and prints the length of your name, by calling the len() function.

In [8]:
print ("Samyojan")
print ("Kathmandu")
print ("9840250678")
print ("The length of your name is ", len("Samyojan"))

Samyojan
Kathmandu
9840250678
The length of your name is  8

Input the following code, when asked to type your age input a numeric value such as 20. Does this program work? If not, why?

In [9]:
age = input("Enter your age ")
print("in one year your age will be", age + 1)

Enter your age 19

TypeError: can only concatenate str (not "int") to str

Write a program that prompts the user to input two numeric values. Once the values have been input display the product of these values, using the multiply (*) operator.

In [12]:
a = int(input("Enter a number"))
b = int(input("Enter a number"))
print ("The product of the two numbers is ", a * b)

Enter a number5
Enter a number10
The product of the two numbers is  50

Try writing the above assignment statement but only use double quotes instead of single quotes as the string delimiter. What is the result?

In [13]:
comment = "I would have "thought" you knew better!"

SyntaxError: invalid syntax (<ipython-input-13-3c65c59a030b>, line 1)

Write some code that calls a print() function, which takes a single string argument that results in the following text being displayed (exactly as shown).

In [14]:
print ("This text includes characters such as '\\' '\"' and \"'\",\n\tThis is a new line that starts with a tab\n\t\tThis new line starts with two tabs")

This text includes characters such as '\' '"' and "'",
	This is a new line that starts with a tab
		This new line starts with two tabs

Write some code that calls a print() function, which takes a single string argument that results in the following text being displayed (exactly as shown).

In [27]:
print("""\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Hello there!
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\""")

\\\\\\\\\\\\\\\\\\\\\\\\\\\
Hello there!
\\\\\\\\\\\\\\\\\\\\\\\\\\\

Write some code that calls a print() function, which takes a single string argument that results in the following text being displayed (exactly as shown). Do this without the use of any escape sequences.

In [28]:
print ('''This text spans three lines,
and includes both single ('),
and double quotes (").
''')

This text spans three lines,
and includes both single ('),
and double quotes (").

Rewrite the above example, so that the third letter of the ‘surname’ is accessed rather than the first, then print this letter to the screen.

In [29]:
surname = "Palin"
initial = surname[2]
print (initial)

l

Rewrite the above example, so that the tenth letter of the ‘surname’ is accessed, and note the result.

In [30]:
surname = "Palin"
initial = surname[9]
print (initial)

IndexError: string index out of range

Rewrite the above example, so that the second from last letter of the ‘surname’ is accessed rather than the last, then print this letter to the screen.

In [31]:
surname = "Palin"
initial = surname[-2]
print (initial)

i

Rewrite the above example, so that all of the characters of the ‘surname’ except the first character are sliced and then displayed on the screen.

In [32]:
surname = "Palin"
initial = surname[1:]
print (initial)

alin

Write code that accesses and prints all characters of the ‘surname’ except the last
character.

In [33]:
surname = "Palin"
initial = surname[:-1]
print (initial)

Pali

Write code that uses slicing to access then print the first four prime numbers defined within the ‘primes’ list given above. Note: you will have to input that list first for testing purposes.

In [34]:
primes = [2, 3, 5, 7, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
slice = primes[:4]
print (slice)

[2, 3, 5, 7]

Write code that uses slicing to insert two new names just before the final name within the  ‘names’ list.

In [35]:
names = ["Tim", "Bill", "Graeme"]
names[2:0] = ["John" , "Smith"]

In [36]:
print (names)

['Tim', 'Bill', 'John', 'Smith', 'Graeme']

Work out in your head what the contents of the ‘nums’ list would be, then check this using the Python interpreter.

In [37]:
nums = [1,2,3] * 5
print (nums)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]